
@{
    ViewData["Title"] = "ShowTopArtists";
}

<h1>ShowTopArtists</h1

<div class="text-center">
<table cellpadding="0" cellspacing="0" class="table">
    <thead>
        <tr>
            <th scope="col" >
                Nume Artist
            </th>
            
        </tr>
    </thead>
    @foreach (var item in ViewBag.artist) {
            <tr>
                <td>
                    @item
                </td>
            
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
    }
</table>
</div>

